@font-face {
  font-family: "Externalfont";
  src: url("Fonts/Milku.otf") format("opentype");
}

body {
  background: linear-gradient(91deg, rgb(81 29 86) 3.6%, rgb(25 22 56) 90.4%);
  background: url("background/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* Scale the background image to cover the entire viewport */
  background-position: center center; /* Center the background image both horizontally and vertically */
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 1900px;
}

header {
  right: 0; /*distance between the viewport's right edge and the fixed header's right edge*/
  padding: 20px;
  text-align: right; /* Right-align the content within the header */
}

.navContent a {
  display: inline-block; /* Display navigation links as inline-block elements */
  padding: 10px;
  margin-right: 10px; /* Add 10 pixels of right margin between each link */
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

a:hover {
  color: rgb(37, 5, 56);
  transition: 0.3s all;
}

#homePageContainer {
  display: flex;
  width: 100%; /* Take up full width of the parent container */
  flex-direction: row; /* Arrange children in a row */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}

#nameAndInfo {
  margin-top: 4em;
  height: 20em; /* Fixed height for the container */
  width: 60%; /* Relative width within the parent container */
}

#nameAndInfo span {
  color: white;
  font-weight: bold;
  font-size: 1.6em;
  font-family: "Externalfont", Arial, Helvetica, sans-serif;
  padding-left: 1.5em;
}

#nameAndInfo p {
  padding: 1em;
  margin-left: 3em;
  text-align: justify;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

#nameAndInfo p > a{
color: white;
font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
}

#girlContainer {
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}

#girlContainer img {
  max-width: 500px;
  overflow: hidden; /* Hide overflow to maintain responsiveness */
}

#footerContainer {
  display: flex;
  justify-content: flex-end; /* Align child elements to the right side of the container */
  bottom: 0;
  margin-top: 10em;
}

.socialMedia {
  align-items: center; /* Center items vertically within the flex container */
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
}

.socialMedia a > img {
  width: 2em;
  height: 2em;
}

.resumeHeader {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 0.5; /* Adjust line height for spacing */
  color: white;
}

.resumeHeader h1 {
  font-size: 35px;
  font-family: "Externalfont", Arial, Helvetica, sans-serif;
  line-height: 0.5; /* Adjust line height for spacing */
}

.resumeHeader p {
  font-size: 20px;
}

.resumeHeader a {
  text-decoration: none;
  color: white;
}

.resumeBoxContainer {
  display: flex;
  justify-content: space-between; /* Space the boxes evenly */
  align-items: center; /* Center-align items vertically */

  justify-content: center; /* Center vertically */
}

.containerRow1,
.containerRow2 {
  display: flex; /* Use flex for row containers */

  justify-content: center; /* Center-align items horizontally */
}

.boxesResume {
  width: 700px;
  height: auto; /* Automatically adjust height based on content */
  border: 1px solid #ccc;
  margin-top: 40px;
  margin-right: 30px;
  padding: 10px;
  text-align: justify; /* Justify the text within boxes */
  background-color: rgb(234, 198, 218);
  border: 5px solid white;
  border-radius: 10px;
}

.boxesResume h2 {
  font-size: 25px;
  text-align: center;
  margin-top: 0; /* Remove top margin from h2 elements */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.boxesResume p,
ul {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(81 29 86);
}

.jobTitle {
  font-weight: bold;
  font-size: 17px;
}

#projectsHeader {
  font-family: "Externalfont", Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-align: center;
  margin: 0;
  height: 3em;
}

#projectsGeneralContainer {
  display: flex;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  padding-top: 1em;
}

#projectsContainer {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  overflow: hidden; /* Hide overflowing content */
  height: auto; /* Adjust the height automatically */
  width: auto; /* Adjust the width automatically */
}

#projectsContainer ul{
    list-style-type: none;
}

.project {
  text-align: center;
}

.pictureBox {
  display: flex;
  align-items: center; /* Center the image horizontally */
  justify-content: center; /* Center the image vertically */
}

img {
  width: 800px;
  height: 800px;
  border-radius: 10px; /* Add a border radius for rounded corners */
}

.descriptionBox {
  background-color: rgb(234, 198, 218);
  color: rgb(81 29 86);
  margin: 1em;
  border: 3.5px solid white;
  border-radius: 10px;
  padding-bottom: 1em;
}

.projectTitle {
  font-weight: bold;
  font-size: 15pt;
  color: white;
}

#projectButtons {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 0;
}

#projectButtons button {
  /* Margin for the top and bottom is 0 (no space) */
  /* Margin for the left and right is 10px (10 pixels) */
  margin: 0 10px;
}

#contactHeader {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 1em;
}

#contactHeader p {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; /*Espacamento entre linhas*/
  color: white;
  width: 700px;
}

#contactHeader p > span {
  font-size: 25px;
  font-family: "Externalfont", Arial, Helvetica, sans-serif;
}

#formContainer {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}
form {
  display: flex;
  flex-direction: column; /* Stack form elements vertically */
  width: 60%; /* Set the width to 60% of the parent container */
}

#submitButton {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

#submitButton [type="submit"] {
  height: 50px;
  width: 50%;
  background-color: rgb(236, 210, 224);
  color: rgb(81 29 86);
  font-weight: bold;
}

#submitButton [type="submit"]:hover {
  cursor: pointer; /* Change cursor to a hand pointer on hover */
  background-color: rgb(79, 8, 121);
  color: white;
}

input {
  margin-top: 20px;
  height: 20px;
  padding: 15px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#message {
  margin-top: 20px;
  padding: 15px;
  border-radius: 25px;
  border: none;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
